@import "tailwindcss";

/************* GENERAL STYLES ************/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  padding-left: 2rem;
  padding-right: 2rem;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 8rem;
  font-weight: 900;
  color: #101828;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #101828;
  text-align: center;
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.checkmark {

}

ol{
  list-style: decimal;
}

/********** LANDING PAGE **************/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4a5565;
  padding-top: 1.5rem;
  margin-bottom: 3rem;
}

.navigation {
  display: flex;
  gap: 1rem;
}

.navigation-button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  width: 4em;
  cursor: pointer;
}

.navigation-button:hover {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  color: #101828;
  background-color: #f9fafb;
  width: 4em;
  cursor: pointer;
  border-radius: 0.5em;
}

.highlight {/*gray bubble around date and question-number*/
  background-color: #f3f4f6;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5em;
  /*font-size: 1.1em;*/
}

.date {
  font-weight: 600;
  /*background-color: #f3f4f6;*/
  /*padding: 0.5rem 1.2rem;*/
  /*border-radius: 1.5em;*/
  font-size: 1.1em;
}

.hero-wrapper {
  position: relative;
  height: -webkit-fill-available;
}

.background-bubbles {
  display: flex;
  justify-content: space-around;
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  flex-direction: column;
}

.top-bubble-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4em;
}

.middle-bubble-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8em;
}

.bottom-bubble-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4em;
}

.top-bubble {
  background-color: #cdf9e3;
  display: flex;
  border-radius: 100%;
  min-width: 8rem;
  height: 8rem;
}

.middle-bubble {
  background-color: #fff4cc;
  width: 2rem;
  border-radius: 100%;
  min-width: 6rem;
  height: 6rem;
}

.bottom-bubble {
  background-color: #dcecff;
  width: 10rem;
  border-radius: 100%;
  min-width: 10rem;
  height: 10rem;
}

.landing-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
  height: 100%;
}

.main-title {
  font-size: clamp(3rem, 17vw, 8rem);
}

.main-text{
  max-width: 900px;
}

.start-button {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 2.25rem;
  font-weight: 700;
  color: white;
  border-radius: 1rem;
  background-color: #00d969;
  cursor: pointer;
  width: 14rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.start-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  background-color: #00c54f;
}

footer {
  display: flex;
  justify-content: space-between;
  color: #727a89;
  padding: 1rem 0;
  font-size: 0.875rem;
  margin-top: 1rem;
}


/************* Role Selection *******************/
.select-role-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title{
  font-size: clamp(2rem, 10vw, 4rem);
  font-weight: 900;
}
.role-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}
.role-option-wrapper{
  display: flex;
  align-items: center;
  border: #e6e6e6 solid 3px;
  border-radius: 15px;
  padding: clamp(0.4rem, 2vw, 1.5rem);
  width: 90%;
  max-width: 800px;
  min-height: 4rem;
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: 500;
  margin: 0.4rem 0rem;
  gap: 1.25rem;
}
.role-option-wrapper--selected{
  border: 3px solid #00c950;
  border-radius: 0.25rem;
  background-color: #f0fdf4;
}

.role-checkbox-container {
  min-width: 2rem;
  min-height: 2rem;
  border: 3px solid #d1d5dc;
  border-radius: 1rem;
}

.role-checkbox-container--selected {
  min-width: 2rem;
  min-height: 2rem;
  border: 3px solid #00c950;
  border-radius: 1.5rem;
  background-color: #00c950;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.checkbox{
  margin: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.button{
  padding: 0.8rem 1.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  border-radius: 1rem;
  background-color: #00d969;
  cursor: pointer;
  width: 14rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

/***************** Popup******************/
.popup{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext{
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup.show .popuptext {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/******************* QUESTIONS *******************/

.question-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  /*height: -webkit-fill-available;*/
}

.question-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

.question-number {
  font-weight: 700;
  background-color: #f3f4f6;

  border-radius: 1.5em;
  font-size: 1.25em;
  color: #364153;
}

.question-and-answer-wrapper {
  width: 100%;
  color: #263140;
}

.display-question {
  background-color: #eff6ff;
  border: #bedbff 2px solid;
  border-radius: 1.5rem;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.answer-wrapper {
  /*display: flex;
  flex-direction: column;*/
  margin-bottom: 1.5rem;
}

.answer-bubble {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  border: 2px solid #d1d5dc;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 0.75rem;
  gap: 1rem;
  font-size: 1.125rem;

}

.answer-bubble-active {   /* after an answer is selected */
  background-color: #f0fdf4;
  display: flex;
  align-items: center;
  padding: 1.25rem;
  border: 2px solid #10b981;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 0.75rem;
  gap: 1rem;
  font-size: 1.125rem;
}

.checkbox-container {
  min-width: 2rem;
  min-height: 2rem;
  border: 3px solid #d1d5dc;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.answer-bubble-active .checkbox-container{   /* after an answer is selected */
  background-color: #10b981;
  border-color: #10b981;
  cursor: pointer;
}

.checkbox-container-active { /* after an answer is selected */
  min-width: 2rem;
  min-height: 2rem;
  border: 3px solid #00c950;
  border-radius: 0.25rem;
  background-color: #00c950;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.answer-text-wrapper {
  display: flex;
  align-items: center;
}

.answer-bubble p {
  /*font-size: 1.125rem;*/
}

.question-letter{
  margin-right: 0.5rem;
  font-size: 1.25rem;
  font-weight: 800;
}

.question-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.next, .previous {
  cursor: pointer;
  font-size: 1.125rem;

}

.next {
  padding: 0.75rem 2rem;
  font-weight: 700;
  color: white;
  border-radius: 1rem;
  background-color: #00d969;
  cursor: pointer;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.previous {
  padding: 0.75rem 2rem;
  font-weight: 700;
  color: #364153;
  border-radius: 1rem;
  background-color: #f3f4f6;
  cursor: pointer;
}