@import "tailwindcss";

/************* GENERAL STYLES ************/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  padding-left: 2rem;
  padding-right: 2rem;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 8rem;
  font-weight: 900;
  color: #101828;
  text-align: center;
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/********** LANFING PAGE **************/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4a5565;
  padding-top: 1.5rem;
}

.navigation {
  display: flex;
  gap: 1rem;
}

.navigation-button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  width: 4em;
  cursor: pointer;
}

.navigation-button:hover {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  color: #101828;
  background-color: #f9fafb;
  width: 4em;
  cursor: pointer;
  border-radius: 0.5em;
}

.date {
  font-weight: 600;
  background-color: #f3f4f6;
  padding: 0.5rem 1.2rem;
  border-radius: 1.5em;
  font-size: 1.1em;
}

.hero-wrapper {
  position: relative;
  height: -webkit-fill-available;
}

.background-bubbles {
  display: flex;
  justify-content: space-around;
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  flex-direction: column;
}

.top-bubble-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4em;
}

.middle-bubble-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8em;
}

.bottom-bubble-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4em;
}

.top-bubble {
  background-color: #cdf9e3;
  display: flex;
  border-radius: 100%;
  min-width: 8rem;
  height: 8rem;
}

.middle-bubble {
  background-color: #fff4cc;
  width: 2rem;
  border-radius: 100%;
  min-width: 6rem;
  height: 6rem;
}

.bottom-bubble {
  background-color: #dcecff;
  width: 10rem;
  border-radius: 100%;
  min-width: 10rem;
  height: 10rem;
}

.landing-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
  height: 100%;
}

.main-title {
  font-size: clamp(3rem, 17vw, 8rem);
}

.start-button {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 2.25rem;
  font-weight: 700;
  color: white;
  border-radius: 1rem;
  background-color: #00d969;
  cursor: pointer;
  width: 14rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.start-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  background-color: #00c54f;
}

footer {
  display: flex;
  justify-content: space-between;
  color: #727a89;
  padding-bottom: 1.5rem;
}


/************* Role Selection *******************/
.select-role-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title{
  font-size: clamp(2rem, 10vw, 4rem);
  font-weight: 900;
}
.role-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.role-option-wrapper{
  display: flex;
  align-items: center;
  border: #e6e6e6 solid 3px;
  border-radius: 15px;
  padding: clamp(0.4rem, 2vw, 1.5rem);
  width: 90%;
  max-width: 800px;
  min-height: 4rem;

  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: 500;

  margin: 0.4rem 0rem;
}
.checkbox{
  margin: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.button{
  padding: 0.8rem 1.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  border-radius: 1rem;
  background-color: #00d969;
  cursor: pointer;
  width: 14rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}