@import "tailwindcss";

/************* GENERAL STYLES ************/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 8rem;
    font-weight: 900;
    color: #101828;
    text-align: center;
}

/********** LANFING PAGE **************/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4a5565;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5px;
}

.navigation {
    display: flex;
    gap: 1rem;
}

.navigation-button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;

    width: 4em;
    cursor: pointer;
}

.navigation-button:hover {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    /*background-color: #f3f4f6;*/
    color: #101828;
    background-color: #f9fafb;
    width: 4em;
    cursor: pointer;
    border-radius: 0.5em;
}


.date {
    font-weight: 600;
    background-color: #f3f4f6;
    padding: 0.5rem;
    border-radius: 1.5em;
}

.hero-wrapper {
    position: relative;
}

.background-bubbles {
    display: flex;
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none; 
    flex-direction: column;
}

.top-bubble {
    background-color: #CDF9E3;
    top: 33.3333%;         
right: 25%;   
    display: flex;
    border-radius: 100%;
    width: 8rem; 
    height: 8rem; 
}

.middle-bubble {
    background-color: #FFF4CC;
    width: 2rem;
    border-radius: 100%;
    width: 6rem; 
    height: 6rem; 
}

.bottom-bubble {
    background-color: #DCECFF;
    width: 10rem;
    border-radius: 100%;
    width: 10rem; 
    height: 10rem; 
}

.landing-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.start-button {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2.25rem;
    font-weight: 700;
    color: white;
    border-radius: 1rem;
    background-color: #00d969;
    cursor: pointer;
    width: 14rem;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;/*copied from header*/
    color: #727a89;
}