@import "tailwindcss";

/************* GENERAL STYLES ************/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 8rem;
    font-weight: 900;
    color: #101828;
    text-align: center;
}

/********** LANFING PAGE **************/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4a5565;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5px;
}

.navigation {
    display: flex;
    gap: 1rem;
}

.navigation-button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    background-color: #f3f4f6;
    width: 4em;
    cursor: pointer;
}

.date {
    font-weight: 600;
}

.landing-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-button {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2.25rem;
    font-weight: 700;
    color: white;
    border-radius: 1rem;
    background-color: #00d969;
    cursor: pointer;
    width: 14rem;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;/*copied from header*/
    color: #727a89;
}